<body>

<div class="container">
<div style="text-align: center; margin: 25px;">
 
  {{#each parties}}
​
   <div class="tile is-parent">
    <article class="tile is-child notification">

      <a href="{{_id}}"><p class="title"> {{title}}</p></a>

      <p class="subtitle">{{description}}</p>

      <p class="subtitle">{{location}}</p>
      <a href="/{{_id}}/"><button class="btn">Review</button></a>
     
     <figure class="image is-4by3">
      <img src="{{images}}" alt="">
     </figure>
    </article>
   </div>
​

  {{/each}}
</body>